/* '*' 는 전체 선택자(html, body, p, ul 등 모든 태그)를 의미. */
/* 보통 CSS 작업할 때 box-sizing: border-box 로 설정. */

* {
  box-sizing: border-box;
}

/* Class 선택자 */
.box {
  width: 480px;
  height: 480px;
  background-color: darkblue;
  color: white;
  padding: 40px 0px 0px 50px;
}

/* 
    padding : content 와 border 사이의 여백.
    margin : 요소 간 여백.

    padding, margin 모두 시계방향으로 여백을 설정할 수 있음.
    ex) padding : 10px 20px 30px 40px => 위 10, 오른쪽 20, 아래 30, 왼쪽 40.
        padding : 20px 30px => 위, 아래를 세트로 20, 왼쪽, 오른쪽 30px.
*/
