* {
  box-sizing: border-box;
}

.parent {
  width: 200px;
  margin: 0 auto;
  background-color: black;
}

.child {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-weight: 600;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}
